.layout-edit{
  display: block;
  position: relative;
  opacity: 1;
  left: 0px;
  top: 0px;
  height: 100%;
}
.layout-drag,.layout-delete{
  position: absolute;
  top: 5px;
}
.layout-drag{
  right: 80px;
  z-index: 10;

}
.layout-delete{
  right: 5px;
  z-index: 10;
}
.item-label, .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.component .item-label{
  position: absolute;
  top: -35px;
  right: 5px;
}
.component{
  height: 100%;
  width: 100%;
  position: relative;
}
.el-tabs__content{
  height: 95%;
}
